<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="~/index"><img src="~/img/logo.png" /></a>
            </div>
            <div id="banner">
                <ul>
                    <li><a href="~/account/cart">Cart: @Context.Session.GetString("Size")</a></li>
                    @if (Context.Session.GetString("CustSession") == null)
                    {
                        <li><a href="~/account/signin">SignIn</a></li>
                        <li><a href="~/account/signUp">SignUp</a></li>
                    }
                    else
                    {
                        <li><a href="~/account/profile">Profile</a></li>
                        <li><a href="~/account/signout">SignOut</a></li>
                    }

                </ul>
            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">footer</div>
    </div>
</body>
</html>