<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo-admin">
                Ecommerce Admin
            </div>
            <div id="banner-admin">
                <ul>
                    <li><a href="~/account/signout">SignOut</a></li>
                    <li><a href="~/admin/order">Order</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer-admin">footer</div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>