@page
@model MyRazorPage.Pages.Product.DetailModel
@{
}

<div id="content-detail">
    <div id="content-title">
        <a href="index.html">Home</a> >
        <a href="category1.html">Category 1</a> >
        Model: SP1
    </div>
    <div id="product">
        <div id="product-name">
            <h2>@Model.Products.ProductName</h2>
            <div id="product-detail">
                <div id="product-detail-left">
                    <div id="product-img">
                        <img src="~/img/@Model.Products.Image" />
                    </div>
                </div>

                <div id="product-detail-right">
                    <div id="product-detail-right-content">
                        <div id="product-price">@Model.Products.UnitPrice</div>
                        <div id="product-status">In stock</div>
                        <div id="product-detail-buttons">
                            <div id="product-detail-button">
                                <input type="button" value="BY NOW">
                                <a style="background-color: #fff; color:red;border: 1px solid gray;" asp-page="/Account/Cart" asp-page-handler="buynow" asp-route-id="@Model.Products.ProductId" asp-route-cusid="@Model.customer.CustomerId">ADD TO CART </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>